@keyframes transition-bg {
  0% {
    background: #e9defa;
  }
  50% {
    background: #fbfcdb;
  }
  100% {
    background: #e9defa;
  }
}
.app {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 2em 0 10em 0;
  $blockColor: #98c9f5;
  $restartColor: #5cb85c;
  $pauseColor: #5bc0de;
  $animationColor: #FA8072;
  $whiteColor: #fff;
  $gray: #bebebe;
  @mixin block {
    background: $blockColor;
  }
  @mixin full-block {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition: all ease 0.5s;
  }
  .content-right {
    text-align: end;
  }
  & h1 {
    text-align: center;
    text-shadow: 0 0 5px #6f6f70;
  }
  .boardArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  & .board {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-shadow: inset 0 0 10px 5px #6abeef;
    border-radius: 4em;
    padding: 2em;
    > .info {
      font-size: 1.2em;
      width: 14em;
      margin: 0 1em;
      > .line {
        height: 2.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $gray;
        > .title {
          width: 8em;
          font-weight: 500;
          cursor: default;
        }
        select {
          width: 6em;
          height: 2em;
          border-radius: 0.25em;
          font-size: 1.1em;
          -webkit-appearance: none;
          padding-left: 3em;
          background: transparent;
        }
        select:focus {
          outline: none;
        }
        button {
          width: 5em;
          border-radius: 0.25em;
          height: 2em;
          background: $gray;
          font-size: 0.9em;
        }
        button:focus {
          outline: none;
        }
        .restart {
          background: $restartColor;
          border-color: $restartColor;
        }
        .pause {
          background: $pauseColor;
          border-color: $pauseColor;
        }
        .animation {
          background: $animationColor;
          border-color: $animationColor;
        }
        span {
          text-shadow: 0 0 2px #000000;
        }
      }
    }
    > .zone {
      > .matrix {
        display: flex;
        flex-direction: column;
        $borderColor: #9e9696;
        > .row {
          display: flex;
          flex-direction: row;
          border-top: 1px solid $borderColor;
          > .cell {
            width: 2em;
            height: 2em;
            border-left: 1px solid $borderColor;
            > .block {
              @include  full-block;
              @include block;
            }
            > .revealed-block {
              @include full-block;
              background: transparent;
            }
          }
          > .cell:last-child {
            border-right: 1px solid $borderColor;
          }
          > .cell:hover {
            cursor: pointer;
          }
        }
        > .row:last-child {
          border-bottom: 1px solid $borderColor;
        }
      }
    }

    > section {
      @mixin list-layout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      
      @include list-layout;
      margin-left: 1em;
      font-weight: 500;
      > .title {
        font-size: 2em;
      }
      > .simple-description {
        display: flex;
        flex-direction: column;
        padding-left: 0.8em;
      }
      > .content {
        height: 400px;
        overflow-y: scroll;
        @include list-layout;
        > .line {
          margin: 0.6em 0;
          @mixin button-index {
            padding: 0 0.2em;
            border-radius: 0.25em;
          }
          .green {
            background: $restartColor;
            @include button-index;
          }
          .pink {
            background: $animationColor;
            @include button-index;
          }
          .cyan {
            background: $pauseColor;
            @include button-index;
          }
        }

      }
      > .content {
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 6px;
          height: 5px;
          max-height: 10px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: $blockColor;
        }
        &::-webkit-scrollbar-thumb:hover {
          opacity: 0.8;
          background-color: #98c9f580;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background-color: $blockColor;
        }
      }
    }
    
  }
}