.app {
  font-size: 16px;
  @mixin block {
    background: #98c9f5;
  }
  @mixin full-block {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition: all ease 0.3s;
  }
  .content-right {
    text-align: end;
  }
  & .board {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    > .info {
      font-size: 1.2em;
      width: 14em;
      > .line {
        height: 2.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        > .title {
          width: 8em;
          font-weight: 500;
          cursor: default;
        }
        select {
          width: 6em;
          height: 2em;
          border-radius: 0.25em;
          font-size: 1.1em;
          -webkit-appearance: none;
          padding: 0px 10px;
        }
        select:focus {
          outline: none;
        }
        button {
          width: 5em;
          border-radius: 0.25em;
          height: 2em;
          background: #bebebe;
          font-size: 1.2em;
        }
        button:focus {
          outline: none;
        }
      }
    }
    > .zone {
      > .matrix {
        display: flex;
        flex-direction: column;
        $borderColor: black;
        > .row {
          display: flex;
          flex-direction: row;
          border-top: 1px solid $borderColor;
          > .cell {
            width: 2em;
            height: 2em;
            border-left: 1px solid $borderColor;
            > .block {
              @include  full-block;
              @include block;
            }
            > .revealed-block {
              @include full-block;
              background: white;
            }
          }
          > .cell:last-child {
            border-right: 1px solid $borderColor;
          }
          > .cell:hover {
            cursor: pointer;
          }
        }
        > .row:last-child {
          border-bottom: 1px solid $borderColor;
        }
      }
    }
    
  }
}