.app {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  $blockColor: #98c9f5;
  $restartColor: #5cb85c;
  $pauseColor: #5bc0de;
  $whiteColor: #fff;
  $gray: #bebebe;
  @mixin block {
    background: $blockColor;
  }
  @mixin full-block {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    transition: all ease 0.5s;
  }
  .content-right {
    text-align: end;
  }
  & h1 {
    padding-left: 4em;
  }
  & .board {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    > .info {
      font-size: 1.2em;
      width: 14em;
      > .line {
        height: 2.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 1em;
        border-bottom: 1px solid $gray;
        > .title {
          width: 8em;
          font-weight: 500;
          cursor: default;
        }
        select {
          width: 6em;
          height: 2em;
          border-radius: 0.25em;
          font-size: 1.1em;
          -webkit-appearance: none;
          padding: 0px 10px;
        }
        select:focus {
          outline: none;
        }
        button {
          width: 5em;
          border-radius: 0.25em;
          height: 2em;
          background: $gray;
          font-size: 0.9em;
        }
        button:focus {
          outline: none;
        }
        .restart {
          background: $restartColor;
          border-color: $restartColor;
        }
        .pause {
          background: $pauseColor;
          border-color: $pauseColor;
        }
      }
    }
    > .zone {
      > .matrix {
        display: flex;
        flex-direction: column;
        $borderColor: black;
        > .row {
          display: flex;
          flex-direction: row;
          border-top: 1px solid $borderColor;
          > .cell {
            width: 2em;
            height: 2em;
            border-left: 1px solid $borderColor;
            > .block {
              @include  full-block;
              @include block;
            }
            > .revealed-block {
              @include full-block;
              background: $whiteColor;
            }
          }
          > .cell:last-child {
            border-right: 1px solid $borderColor;
          }
          > .cell:hover {
            cursor: pointer;
          }
        }
        > .row:last-child {
          border-bottom: 1px solid $borderColor;
        }
      }
    }
    
  }
}